.spacer {
  height: 50px;
}

.team-header {
  text-align: center;
  color: #FA6300;
}

#team-logo {
  display: block;
  margin: 0 auto;
}

body {
  font-family: 'Oswald', sans-serif;
}

.team-roster, .team-schedule {
  text-align: center;
}

h2 {
  text-align: center;
  color: #131F33;
}
